default:
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  tags:
    - k8srunner

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - lint
  - build
  - test
  - publish
  - pages
  - scan

include:
    # .post steps
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/finaliser.gitlab-ci.yml'